<ion-app>

  <!-- <div *ngIf="showSplash" class="splash">
    <div class="spinner"></div>
    <img src="loading.gif" class="img"/>
  </div>  -->

<ion-menu contentId="content1" side="start" class="menu">
<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="light">Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content" >
    <ion-menu-toggle auto-hide="false">
          
        <ion-card padding>

                <ion-item>
                    <ion-thumbnail>
                        <ion-img [src]="user?.userImage" class="image"></ion-img>
                    </ion-thumbnail>
                </ion-item>
                
                <ion-item button lines="inset"  routerLink="/dashboard"   style="--border-color: grey; --color-selected: black;">
                  <ion-icon name="home" color="medium"></ion-icon> &nbsp; Dashboard
                </ion-item>

                <ion-item button lines="inset"  routerLink="/buy"   style="--border-color: grey; --color-selected: black;">
                  <ion-icon name="contact" color="medium"></ion-icon> &nbsp; Buy Coins
                </ion-item>

                <ion-item button lines="inset" routerLink="/sell" style="--border-color: grey;">
                  <ion-icon name="star" color="medium"></ion-icon> &nbsp; Sell Coins
                </ion-item>

                <ion-item button lines="inset" style="--border-color: grey;">
                  <ion-icon name="book" color="medium"></ion-icon> &nbsp; View Transactions
                </ion-item>
                 
                <ion-item button lines="inset"   style="--border-color: grey;">
                    <ion-icon name="attach" color="medium"></ion-icon> &nbsp; View Contact
                </ion-item>

                <ion-item button lines="inset" (click)="logout()"   style="--border-color: grey;">
                    <ion-icon name="log-out" color="medium"></ion-icon> &nbsp; Sign Out
                </ion-item>
              
        </ion-card>
   
      </ion-menu-toggle>

    </ion-content>
  </ion-menu>
<ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>
